<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingmon.project.auth.role.mapper.RoleResourceMapper" >
    
  <resultMap id="BaseResultMap" type="com.kingmon.project.auth.role.model.RoleResource" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="role_id" jdbcType="VARCHAR" />
    <result column="RES_ID" property="res_id" jdbcType="VARCHAR" />
    <result column="AREA_ID" property="area_id" jdbcType="VARCHAR" />
    <result column="OPRATETIME" property="opratetime" jdbcType="VARCHAR" />
    <result column="MOVESIGN" property="movesign" jdbcType="CHAR" />
    <result column="ENABLED" property="enabled" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, ROLE_ID, RES_ID, AREA_ID, OPRATETIME, MOVESIGN, ENABLED
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from APP_ROLE_RESOURCE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from APP_ROLE_RESOURCE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.kingmon.project.auth.role.model.RoleResource" >
    insert into APP_ROLE_RESOURCE (ID, ROLE_ID, RES_ID, 
      AREA_ID, OPRATETIME, MOVESIGN, 
      ENABLED)
    values (#{id,jdbcType=VARCHAR}, #{role_id,jdbcType=VARCHAR}, #{res_id,jdbcType=VARCHAR}, 
      #{area_id,jdbcType=VARCHAR}, #{opratetime,jdbcType=VARCHAR}, #{movesign,jdbcType=CHAR}, 
      #{enabled,jdbcType=CHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.kingmon.project.auth.role.model.RoleResource" >
    insert into APP_ROLE_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="role_id != null" >
        role_id,
      </if>
      <if test="res_id != null" >
        res_id,
      </if>
      <if test="area_id != null" >
        area_id,
      </if>
      <if test="opratetime != null" >
        OPRATETIME,
      </if>
      <if test="movesign != null" >
        MOVESIGN,
      </if>
      <if test="enabled != null" >
        ENABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="role_id != null" >
        #{role_id,jdbcType=VARCHAR},
      </if>
      <if test="res_id != null" >
        #{res_id,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null" >
        #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="opratetime != null" >
        #{opratetime,jdbcType=VARCHAR},
      </if>
      <if test="movesign != null" >
        #{movesign,jdbcType=CHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.kingmon.project.auth.role.model.RoleResource" >
    update APP_ROLE_RESOURCE
    <set >
      <if test="role_id != null" >
        ROLE_ID = #{role_id,jdbcType=VARCHAR},
      </if>
      <if test="res_id != null" >
        res_id = #{RES_ID,jdbcType=VARCHAR},
      </if>
      <if test="area_id != null" >
        area_id = #{area_id,jdbcType=VARCHAR},
      </if>
      <if test="OPRATETIME != null" >
        OPRATETIME = #{OPRATETIME,jdbcType=VARCHAR},
      </if>
      <if test="movesign != null" >
        MOVESIGN = #{movesign,jdbcType=CHAR},
      </if>
      <if test="enabled != null" >
        ENABLED = #{enabled,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.kingmon.project.auth.role.model.RoleResource" >
    update APP_ROLE_RESOURCE
    set 
      ROLE_ID = #{role_id,jdbcType=VARCHAR},
      RES_ID = #{res_id,jdbcType=VARCHAR},
      AREA_ID = #{area_id,jdbcType=VARCHAR},
      OPRATETIME = #{opratetime,jdbcType=VARCHAR},
      MOVESIGN = #{movesign,jdbcType=CHAR},
      ENABLED = #{enabled,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>