<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingmon.project.psam.sy.mapper.SyjwryMapper" >
  <resultMap id="BaseResultMap" type="com.kingmon.project.psam.sy.model.Syjwry" >
    <id column="JWRYID" property="jwryid" jdbcType="VARCHAR" />
    <result column="YWM" property="ywm" jdbcType="VARCHAR" />
    <result column="ZWM" property="zwm" jdbcType="VARCHAR" />
    <result column="CSRQ" property="csrq" jdbcType="TIMESTAMP" />
    <result column="GJ" property="gj" jdbcType="VARCHAR" />
    <result column="ZY" property="zy" jdbcType="VARCHAR" />
    <result column="ZHGZJGMC" property="zhgzjgmc" jdbcType="VARCHAR" />
    <result column="ZHGZJGDM" property="zhgzjgdm" jdbcType="VARCHAR" />
    <result column="ZJZL" property="zjzl" jdbcType="VARCHAR" />
    <result column="ZJHM" property="zjhm" jdbcType="VARCHAR" />
    <result column="QZZL" property="qzzl" jdbcType="VARCHAR" />
    <result column="QZBH" property="qzbh" jdbcType="VARCHAR" />
    <result column="TLYXQ" property="tlyxq" jdbcType="TIMESTAMP" />
    <result column="JWRYLXDH" property="jwrylxdh" jdbcType="VARCHAR" />
    <result column="SSXQDM" property="ssxqdm" jdbcType="VARCHAR" />
    <result column="SSJLXXQ_DZBM" property="ssjlxxqDzbm" jdbcType="VARCHAR" />
    <result column="DZBM" property="dzbm" jdbcType="VARCHAR" />
    <result column="FJBM" property="fjbm" jdbcType="VARCHAR" />
    <result column="FJH" property="fjh" jdbcType="VARCHAR" />
    <result column="XXDZ" property="xxdz" jdbcType="VARCHAR" />
    <result column="FWFZXM" property="fwfzxm" jdbcType="VARCHAR" />
    <result column="FZSFZH" property="fzsfzh" jdbcType="VARCHAR" />
    <result column="JWRYLKRQ" property="jwrylkrq" jdbcType="TIMESTAMP" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="SDPCS" property="sdpcs" jdbcType="VARCHAR" />
    <result column="JWZRQ" property="jwzrq" jdbcType="VARCHAR" />
    <result column="ZXZT" property="zxzt" jdbcType="VARCHAR" />
    <result column="ZXRQ" property="zxrq" jdbcType="TIMESTAMP" />
    <result column="DELTAG" property="deltag" jdbcType="CHAR" />
    <result column="DELTIME" property="deltime" jdbcType="TIMESTAMP" />
    <result column="DJR" property="djr" jdbcType="VARCHAR" />
    <result column="DJDW" property="djdw" jdbcType="VARCHAR" />
    <result column="DJRMC" property="djrmc" jdbcType="VARCHAR" />
    <result column="DJDWMC" property="djdwmc" jdbcType="VARCHAR" />
    <result column="DJSJ" property="djsj" jdbcType="TIMESTAMP" />
    <result column="XGR" property="xgr" jdbcType="VARCHAR" />
    <result column="XGDW" property="xgdw" jdbcType="VARCHAR" />
    <result column="XGRMC" property="xgrmc" jdbcType="VARCHAR" />
    <result column="XGDWMC" property="xgdwmc" jdbcType="VARCHAR" />
    <result column="GXSJ" property="gxsj" jdbcType="TIMESTAMP" />
    <result column="MOVESIGN" property="movesign" jdbcType="CHAR" />
    <result column="SBID" property="sbid" jdbcType="VARCHAR" />
    <result column="LRJS" property="lrjs" jdbcType="CHAR" />
    <result column="LRFS" property="lrfs" jdbcType="CHAR" />
    <result column="LRWL" property="lrwl" jdbcType="CHAR" />
    <result column="XZZQH" property="xzzqh" jdbcType="VARCHAR" />
    <result column="YWX" property="ywx" jdbcType="VARCHAR" />
    <result column="XZZSSFJDM" property="xzzssfjdm" jdbcType="VARCHAR" />
    <result column="RYLB" property="rylb" jdbcType="VARCHAR" />
    <result column="GJDM" property="gjdm" jdbcType="VARCHAR" />
    <result column="XZZHUID" property="xzzhuid" jdbcType="VARCHAR" />
    <result column="CJRY" property="cjry" jdbcType="VARCHAR" />
    <result column="CJSJ" property="cjsj" jdbcType="TIMESTAMP" />
    <result column="RKFL" property="rkfl" jdbcType="VARCHAR" />
    <result column="LHSF" property="lhsf" jdbcType="VARCHAR" />
    <result column="ZWSP" property="zwsp" jdbcType="VARCHAR" />
    <result column="RJKA" property="rjka" jdbcType="VARCHAR" />
    <result column="RJRQ" property="rjrq" jdbcType="TIMESTAMP" />
    <result column="QZCS" property="qzcs" jdbcType="VARCHAR" />
    <result column="JLQK" property="jlqk" jdbcType="VARCHAR" />
    <result column="JLXKHM" property="jlxkhm" jdbcType="VARCHAR" />
    <result column="JLSY" property="jlsy" jdbcType="VARCHAR" />
    <result column="QFJG" property="qfjg" jdbcType="VARCHAR" />
    <result column="GZXXSF" property="gzxxsf" jdbcType="VARCHAR" />
    <result column="RZRQ" property="rzrq" jdbcType="TIMESTAMP" />
    <result column="LZRQ" property="lzrq" jdbcType="TIMESTAMP" />
    <result column="RZFS" property="rzfs" jdbcType="VARCHAR" />
    <result column="RZSJ" property="rzsj" jdbcType="TIMESTAMP" />
    <result column="ZSLXFS" property="zslxfs" jdbcType="VARCHAR" />
    <result column="JZDXZ" property="jzdxz" jdbcType="VARCHAR" />
    <result column="SXRYQSGX1" property="sxryqsgx1" jdbcType="VARCHAR" />
    <result column="SXRYZWXM1" property="sxryzwxm1" jdbcType="VARCHAR" />
    <result column="SXRYYWXM1" property="sxryywxm1" jdbcType="VARCHAR" />
    <result column="SXRYXB1" property="sxryxb1" jdbcType="VARCHAR" />
    <result column="SXRYCSRQ1" property="sxrycsrq1" jdbcType="TIMESTAMP" />
    <result column="SXRYDWMC1" property="sxrydwmc1" jdbcType="VARCHAR" />
    <result column="SXRYQSGX2" property="sxryqsgx2" jdbcType="VARCHAR" />
    <result column="SXRYZWXM2" property="sxryzwxm2" jdbcType="VARCHAR" />
    <result column="SXRYYWXM2" property="sxryywxm2" jdbcType="VARCHAR" />
    <result column="SXRYXB2" property="sxryxb2" jdbcType="VARCHAR" />
    <result column="SXRYCSRQ2" property="sxrycsrq2" jdbcType="TIMESTAMP" />
    <result column="SXRYDWMC2" property="sxrydwmc2" jdbcType="VARCHAR" />
    <result column="CJRYLXDH" property="cjrylxdh" jdbcType="VARCHAR" />
    <result column="TJFLG" property="tjflg" jdbcType="VARCHAR" />
    <result column="XZZHUIDGXSJ" property="xzzhuidgxsj" jdbcType="TIMESTAMP" />
    <!--新增0606  -->
     <result column="MAC_ADDRESS" property="macAddress" jdbcType="VARCHAR" />
     <result column="TF_CARD_NUM" property="tfCardNum" jdbcType="VARCHAR" />
     <result column="IMEI_NUM" property="imeiNum" jdbcType="VARCHAR" />
     <result column="SIM_NUM" property="simNum" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kingmon.project.psam.sy.model.Syjwry" extends="BaseResultMap" >
    <result column="JWRYZP" property="jwryzp" jdbcType="BLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    JWRYID, YWM, ZWM, CSRQ, GJ, ZY, ZHGZJGMC, ZHGZJGDM, ZJZL, ZJHM, QZZL, QZBH, TLYXQ, 
    JWRYLXDH, SSXQDM, SSJLXXQ_DZBM, DZBM, FJBM, FJH, XXDZ, FWFZXM, FZSFZH, JWRYLKRQ, 
    BZ, SDPCS, JWZRQ, ZXZT, ZXRQ, DELTAG, DELTIME, DJR, DJDW, DJRMC, DJDWMC, DJSJ, XGR, 
    XGDW, XGRMC, XGDWMC, GXSJ, MOVESIGN, SBID, LRJS, LRFS, LRWL, XZZQH, YWX, XZZSSFJDM, 
    RYLB, GJDM, XZZHUID, CJRY, CJSJ, RKFL, LHSF, ZWSP, RJKA, RJRQ, QZCS, JLQK, JLXKHM, 
    JLSY, QFJG, GZXXSF, RZRQ, LZRQ, RZFS, RZSJ, ZSLXFS, JZDXZ, SXRYQSGX1, SXRYZWXM1, 
    SXRYYWXM1, SXRYXB1, SXRYCSRQ1, SXRYDWMC1, SXRYQSGX2, SXRYZWXM2, SXRYYWXM2, SXRYXB2, 
    SXRYCSRQ2, SXRYDWMC2, CJRYLXDH, TJFLG, XZZHUIDGXSJ
  </sql>
   <sql id="Alias_Base_Column_List" >
    ${alias}.JWRYID, ${alias}.YWM,${alias}.ZWM,${alias}.CSRQ,${alias}.GJ,${alias}.ZY,${alias}.ZHGZJGMC,${alias}.ZHGZJGDM,${alias}.ZJZL,${alias}.ZJHM,${alias}.QZZL,${alias}.QZBH,${alias}.TLYXQ,
    ${alias}.JWRYLXDH,${alias}.SSXQDM,${alias}.SSJLXXQ_DZBM,${alias}.DZBM,${alias}.FJBM,${alias}.FJH,${alias}.XXDZ,${alias}.FWFZXM,${alias}.FZSFZH,${alias}.JWRYLKRQ,
    ${alias}.BZ,${alias}.SDPCS,${alias}.JWZRQ,${alias}.ZXZT,${alias}.ZXRQ,${alias}.DELTAG,${alias}.DELTIME,${alias}.DJR,${alias}.DJDW,${alias}.DJRMC,${alias}.DJDWMC,${alias}.DJSJ,${alias}.XGR,
    ${alias}.XGDW,${alias}.XGRMC,${alias}.XGDWMC,${alias}.GXSJ,${alias}.MOVESIGN,${alias}.SBID,${alias}.LRJS,${alias}.LRFS,${alias}.LRWL,${alias}.XZZQH,${alias}.YWX,${alias}.XZZSSFJDM,
    ${alias}.RYLB,${alias}.GJDM,${alias}.XZZHUID,${alias}.CJRY,${alias}.CJSJ,${alias}.RKFL,${alias}.LHSF,${alias}.ZWSP,${alias}.RJKA,${alias}.RJRQ,${alias}.QZCS,${alias}.JLQK,${alias}.JLXKHM,
    ${alias}.JLSY,${alias}.QFJG,${alias}.GZXXSF,${alias}.RZRQ,${alias}.LZRQ,${alias}.RZFS,${alias}.RZSJ,${alias}.ZSLXFS,${alias}.JZDXZ,${alias}.SXRYQSGX1,${alias}.SXRYZWXM1,
    ${alias}.SXRYYWXM1,${alias}.SXRYXB1,${alias}.SXRYCSRQ1,${alias}.SXRYDWMC1,${alias}.SXRYQSGX2,${alias}.SXRYZWXM2,${alias}.SXRYYWXM2,${alias}.SXRYXB2,
    ${alias}.SXRYCSRQ2,${alias}.SXRYDWMC2,${alias}.CJRYLXDH,${alias}.TJFLG,${alias}.XZZHUIDGXSJ
  </sql>
  <sql id="Blob_Column_List" >
     JWRYZP
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />,<include refid="Blob_Column_List" />
    from SY_SYJWRY where JWRYID = #{jwryid,jdbcType=VARCHAR}
  </select>
 <!-- ################################################################################ -->  
       <select id="selectsyJwrybyzjhm" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
  	 from SY_SYJWRY where ZJHM = #{zjhm,jdbcType=VARCHAR}
  </select>
  	<update id="cancelsyJwry" parameterType="java.util.Map" >
   update SY_SYJWRY
   set  
        ZXZT = #{zxzt,jdbcType=VARCHAR},
        ZXRQ= #{zxrq,jdbcType=DATE}
        where JWRYID = #{jwryid,jdbcType=VARCHAR}     
  </update>
  	<update id="activatesyJwry" parameterType="java.util.Map" >
   update SY_SYJWRY
   set  
        ZXZT = #{zxzt,jdbcType=VARCHAR},
        ZXRQ= #{zxrq,jdbcType=DATE}
        where JWRYID = #{jwryid,jdbcType=VARCHAR}     
  </update>
  
  <!-- #######################page query start ###########################################-->
 	   <select id="selectSyjwryByjzwfjId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
  	 from SY_SYJWRY where FJBM = #{jzwfjid,jdbcType=VARCHAR}
  </select>
 	<select id="selectSyjwrylist" resultType="java.util.Map" parameterType="java.util.Map">
		<include refid="Paging_Start" />
		SELECT
		<include refid="Alias_Base_Column_List">
			<property name="alias" value="T1" />
		</include>
		FROM  SY_SYJWRY T1 WHERE 1=1
		<include refid="syjwryList_where">
			<property name="alias" value="T1" />
		</include>
		<if test="sort != null">
			ORDER BY T1.${sort} ${order}
		</if>
		<include refid="Paging_end" />
	</select>
	
	<select id="selectSyjwryCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(1) FROM   SY_SYJWRY T1 WHERE 1=1
		<include refid="syjwryList_where">
			<property name="alias" value="T1" />
		</include>
	</select>
	<!--   <select id="selectSyJwryInfoByJzwfjId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ZWM,YWM,ZJHM,JWRYLXDH,XXDZ,FWFZXM,FZSFZH,CSRQ,FJH
  	 from SY_SYJWRY where FJBM = #{jzwfjid,jdbcType=VARCHAR}
  </select> -->
    <select id="selectSyJwryInfoByJzwfjId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select gl.JWRYID,gl.GJ, gl.ZWM,gl.YWM,gl.ZJHM,gl.JWRYLXDH,gl.XXDZ,gl.FWFZXM,gl.FZSFZH,gl.CSRQ,gl.FJH
  	 from SY_SYJWRY gl where gl.jwryid in (select fw.ryid from SY_FW_JWRY fw where fw.fjbh=#{jzwfjid,jdbcType=VARCHAR})
  </select>
  
   <select id="selectSyJwryInfoByJzwfjIdKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Alias_Base_Column_List">
			<property name="alias" value="gl" />
		</include>
  	 from SY_SYJWRY gl where gl.jwryid in (select fw.ryid from SY_FW_JWRY fw where fw.fjbh=#{jzwfjid,jdbcType=VARCHAR})
  </select>
  
 <!--2016-0811 查询房屋 当前所住人员   --> 
  <select id="selectSyJwryInfoFwByJzwfjIdKey" resultMap="BaseResultMap" parameterType="java.lang.String">
   select 
    <include refid="Alias_Base_Column_List">
			<property name="alias" value="gl" />
		</include>
  	 from SY_SYJWRY gl where gl.jwryid in (select fw.ryid from SY_FW_JWRY fw where fw.fjbh=#{jzwfjid,jdbcType=VARCHAR} 
  	 and fw.deltag!=1)
  </select>
 <!--2016-0811 查询房屋 当前所住人员   end  --> 
 
 	<sql id="syjwryList_where">
		<if test="zjhm != null">
			AND ${alias}.ZJHM like #{zjhm,jdbcType=VARCHAR}
		</if>
		<if test="ywm != null">
			AND ${alias}.YWM like #{ywm,jdbcType=VARCHAR} 
		</if>
		<if test="jwzrq != null">
			AND ${alias}.JWZRQ like #{jwzrq,jdbcType=VARCHAR} 
		</if>
	</sql> 
  <!-- #######################page query end ###########################################--> 
 
 <!--####################### 2016-08-16 当期房屋 所住(历史) 人口信息 #######################-->  
  <select id="selectSyJwrkForFwLsry" resultType="java.util.Map" parameterType="java.util.Map" >
    <include refid="Paging_Start" />
    select 
    <include refid="Alias_Base_Column_List">
			<property name="alias" value="gl" />
		</include>
  	 from SY_SYJWRY gl where gl.jwryid in (select fw.ryid from SY_FW_JWRY fw where fw.fjbh=#{jzwfjid,jdbcType=VARCHAR})
 <include refid="Paging_end" />
  </select>
  
  <select id="selectSyJwrkForFwLsryCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(1)
  	 from SY_SYJWRY gl where gl.jwryid in (select fw.ryid from SY_FW_JWRY fw where fw.fjbh=#{jzwfjid,jdbcType=VARCHAR})
	</select>
  
  <select id="selectSyJwrkForFw" resultType="java.util.Map" parameterType="java.util.Map">
   <include refid="Paging_Start" />
    select 
    <include refid="Alias_Base_Column_List">
			<property name="alias" value="gl" />
		</include>
  	 from SY_SYJWRY gl where gl.jwryid in (select fw.ryid from SY_FW_JWRY fw where fw.fjbh=#{jzwfjid,jdbcType=VARCHAR} 
  	 and fw.deltag!=1)
  <include refid="Paging_end" />
  </select>
  
  <select id="selectSyJwrkForFwCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(1)
  	 from SY_SYJWRY gl where gl.jwryid in (select fw.ryid from SY_FW_JWRY fw where fw.fjbh=#{jzwfjid,jdbcType=VARCHAR} 
  	 and fw.deltag!=1)
	</select>
<!--####################### 2016-08-16 当期房屋 所住(历史) 人口信息   END#######################-->   
 
 
 
 <!-- ################################################################################ -->
 
 <sql id="Paging_Start">
		SELECT * FROM (
		SELECT T_.*, rownum rn_ FROM (
	</sql>
	
	<sql id="Paging_end">
		) T_ WHERE rownum &lt;= ${pageend}
		) WHERE rn_ &gt; ${pagestart}
	</sql>
	
	
  <insert id="insertSelective" parameterType="com.kingmon.project.psam.sy.model.Syjwry" >
    insert into SY_SYJWRY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jwryid != null" >
        JWRYID,
      </if>
      <if test="ywm != null" >
        YWM,
      </if>
      <if test="zwm != null" >
        ZWM,
      </if>
      <if test="csrq != null" >
        CSRQ,
      </if>
      <if test="gj != null" >
        GJ,
      </if>
      <if test="zy != null" >
        ZY,
      </if>
      <if test="zhgzjgmc != null" >
        ZHGZJGMC,
      </if>
      <if test="zhgzjgdm != null" >
        ZHGZJGDM,
      </if>
      <if test="zjzl != null" >
        ZJZL,
      </if>
      <if test="zjhm != null" >
        ZJHM,
      </if>
      <if test="qzzl != null" >
        QZZL,
      </if>
      <if test="qzbh != null" >
        QZBH,
      </if>
      <if test="tlyxq != null" >
        TLYXQ,
      </if>
      <if test="jwrylxdh != null" >
        JWRYLXDH,
      </if>
      <if test="ssxqdm != null" >
        SSXQDM,
      </if>
      <if test="ssjlxxqDzbm != null" >
        SSJLXXQ_DZBM,
      </if>
      <if test="dzbm != null" >
        DZBM,
      </if>
      <if test="fjbm != null" >
        FJBM,
      </if>
      <if test="fjh != null" >
        FJH,
      </if>
      <if test="xxdz != null" >
        XXDZ,
      </if>
      <if test="fwfzxm != null" >
        FWFZXM,
      </if>
      <if test="fzsfzh != null" >
        FZSFZH,
      </if>
      <if test="jwrylkrq != null" >
        JWRYLKRQ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="sdpcs != null" >
        SDPCS,
      </if>
      <if test="jwzrq != null" >
        JWZRQ,
      </if>
      <if test="zxzt != null" >
        ZXZT,
      </if>
      <if test="zxrq != null" >
        ZXRQ,
      </if>
      <if test="deltag != null" >
        DELTAG,
      </if>
      <if test="deltime != null" >
        DELTIME,
      </if>
      <if test="djr != null" >
        DJR,
      </if>
      <if test="djdw != null" >
        DJDW,
      </if>
      <if test="djrmc != null" >
        DJRMC,
      </if>
      <if test="djdwmc != null" >
        DJDWMC,
      </if>
      <if test="djsj != null" >
        DJSJ,
      </if>
      <if test="xgr != null" >
        XGR,
      </if>
      <if test="xgdw != null" >
        XGDW,
      </if>
      <if test="xgrmc != null" >
        XGRMC,
      </if>
      <if test="xgdwmc != null" >
        XGDWMC,
      </if>
      <if test="gxsj != null" >
        GXSJ,
      </if>
      <if test="movesign != null" >
        MOVESIGN,
      </if>
      <if test="sbid != null" >
        SBID,
      </if>
      <if test="lrjs != null" >
        LRJS,
      </if>
      <if test="lrfs != null" >
        LRFS,
      </if>
      <if test="lrwl != null" >
        LRWL,
      </if>
      <if test="xzzqh != null" >
        XZZQH,
      </if>
      <if test="ywx != null" >
        YWX,
      </if>
      <if test="xzzssfjdm != null" >
        XZZSSFJDM,
      </if>
      <if test="rylb != null" >
        RYLB,
      </if>
      <if test="gjdm != null" >
        GJDM,
      </if>
      <if test="xzzhuid != null" >
        XZZHUID,
      </if>
      <if test="cjry != null" >
        CJRY,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="rkfl != null" >
        RKFL,
      </if>
      <if test="lhsf != null" >
        LHSF,
      </if>
      <if test="zwsp != null" >
        ZWSP,
      </if>
      <if test="rjka != null" >
        RJKA,
      </if>
      <if test="rjrq != null" >
        RJRQ,
      </if>
      <if test="qzcs != null" >
        QZCS,
      </if>
      <if test="jlqk != null" >
        JLQK,
      </if>
      <if test="jlxkhm != null" >
        JLXKHM,
      </if>
      <if test="jlsy != null" >
        JLSY,
      </if>
      <if test="qfjg != null" >
        QFJG,
      </if>
      <if test="gzxxsf != null" >
        GZXXSF,
      </if>
      <if test="rzrq != null" >
        RZRQ,
      </if>
      <if test="lzrq != null" >
        LZRQ,
      </if>
      <if test="rzfs != null" >
        RZFS,
      </if>
      <if test="rzsj != null" >
        RZSJ,
      </if>
      <if test="zslxfs != null" >
        ZSLXFS,
      </if>
      <if test="jzdxz != null" >
        JZDXZ,
      </if>
      <if test="sxryqsgx1 != null" >
        SXRYQSGX1,
      </if>
      <if test="sxryzwxm1 != null" >
        SXRYZWXM1,
      </if>
      <if test="sxryywxm1 != null" >
        SXRYYWXM1,
      </if>
      <if test="sxryxb1 != null" >
        SXRYXB1,
      </if>
      <if test="sxrycsrq1 != null" >
        SXRYCSRQ1,
      </if>
      <if test="sxrydwmc1 != null" >
        SXRYDWMC1,
      </if>
      <if test="sxryqsgx2 != null" >
        SXRYQSGX2,
      </if>
      <if test="sxryzwxm2 != null" >
        SXRYZWXM2,
      </if>
      <if test="sxryywxm2 != null" >
        SXRYYWXM2,
      </if>
      <if test="sxryxb2 != null" >
        SXRYXB2,
      </if>
      <if test="sxrycsrq2 != null" >
        SXRYCSRQ2,
      </if>
      <if test="sxrydwmc2 != null" >
        SXRYDWMC2,
      </if>
      <if test="cjrylxdh != null" >
        CJRYLXDH,
      </if>
      <if test="tjflg != null" >
        TJFLG,
      </if>
      <if test="xzzhuidgxsj != null" >
        XZZHUIDGXSJ,
      </if>
      <if test="jwryzp != null" >
        JWRYZP,
      </if>
      <if test="macAddress != null" >
        MAC_ADDRESS,
      </if>
      <if test="tfCardNum != null" >
        TF_CARD_NUM,
      </if>
      <if test="imeiNum != null" >
        IMEI_NUM,
      </if>
      <if test="simNum != null" >
        SIM_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jwryid != null" >
        #{jwryid,jdbcType=VARCHAR},
      </if>
      <if test="ywm != null" >
        #{ywm,jdbcType=VARCHAR},
      </if>
      <if test="zwm != null" >
        #{zwm,jdbcType=VARCHAR},
      </if>
      <if test="csrq != null" >
        #{csrq,jdbcType=TIMESTAMP},
      </if>
      <if test="gj != null" >
        #{gj,jdbcType=VARCHAR},
      </if>
      <if test="zy != null" >
        #{zy,jdbcType=VARCHAR},
      </if>
      <if test="zhgzjgmc != null" >
        #{zhgzjgmc,jdbcType=VARCHAR},
      </if>
      <if test="zhgzjgdm != null" >
        #{zhgzjgdm,jdbcType=VARCHAR},
      </if>
      <if test="zjzl != null" >
        #{zjzl,jdbcType=VARCHAR},
      </if>
      <if test="zjhm != null" >
        #{zjhm,jdbcType=VARCHAR},
      </if>
      <if test="qzzl != null" >
        #{qzzl,jdbcType=VARCHAR},
      </if>
      <if test="qzbh != null" >
        #{qzbh,jdbcType=VARCHAR},
      </if>
      <if test="tlyxq != null" >
        #{tlyxq,jdbcType=TIMESTAMP},
      </if>
      <if test="jwrylxdh != null" >
        #{jwrylxdh,jdbcType=VARCHAR},
      </if>
      <if test="ssxqdm != null" >
        #{ssxqdm,jdbcType=VARCHAR},
      </if>
      <if test="ssjlxxqDzbm != null" >
        #{ssjlxxqDzbm,jdbcType=VARCHAR},
      </if>
      <if test="dzbm != null" >
        #{dzbm,jdbcType=VARCHAR},
      </if>
      <if test="fjbm != null" >
        #{fjbm,jdbcType=VARCHAR},
      </if>
      <if test="fjh != null" >
        #{fjh,jdbcType=VARCHAR},
      </if>
      <if test="xxdz != null" >
        #{xxdz,jdbcType=VARCHAR},
      </if>
      <if test="fwfzxm != null" >
        #{fwfzxm,jdbcType=VARCHAR},
      </if>
      <if test="fzsfzh != null" >
        #{fzsfzh,jdbcType=VARCHAR},
      </if>
      <if test="jwrylkrq != null" >
        #{jwrylkrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sdpcs != null" >
        #{sdpcs,jdbcType=VARCHAR},
      </if>
      <if test="jwzrq != null" >
        #{jwzrq,jdbcType=VARCHAR},
      </if>
      <if test="zxzt != null" >
        #{zxzt,jdbcType=VARCHAR},
      </if>
      <if test="zxrq != null" >
        #{zxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="deltag != null" >
        #{deltag,jdbcType=CHAR},
      </if>
      <if test="deltime != null" >
        #{deltime,jdbcType=TIMESTAMP},
      </if>
      <if test="djr != null" >
        #{djr,jdbcType=VARCHAR},
      </if>
      <if test="djdw != null" >
        #{djdw,jdbcType=VARCHAR},
      </if>
      <if test="djrmc != null" >
        #{djrmc,jdbcType=VARCHAR},
      </if>
      <if test="djdwmc != null" >
        #{djdwmc,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null" >
        #{djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgr != null" >
        #{xgr,jdbcType=VARCHAR},
      </if>
      <if test="xgdw != null" >
        #{xgdw,jdbcType=VARCHAR},
      </if>
      <if test="xgrmc != null" >
        #{xgrmc,jdbcType=VARCHAR},
      </if>
      <if test="xgdwmc != null" >
        #{xgdwmc,jdbcType=VARCHAR},
      </if>
      <if test="gxsj != null" >
        #{gxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="movesign != null" >
        #{movesign,jdbcType=CHAR},
      </if>
      <if test="sbid != null" >
        #{sbid,jdbcType=VARCHAR},
      </if>
      <if test="lrjs != null" >
        #{lrjs,jdbcType=CHAR},
      </if>
      <if test="lrfs != null" >
        #{lrfs,jdbcType=CHAR},
      </if>
      <if test="lrwl != null" >
        #{lrwl,jdbcType=CHAR},
      </if>
      <if test="xzzqh != null" >
        #{xzzqh,jdbcType=VARCHAR},
      </if>
      <if test="ywx != null" >
        #{ywx,jdbcType=VARCHAR},
      </if>
      <if test="xzzssfjdm != null" >
        #{xzzssfjdm,jdbcType=VARCHAR},
      </if>
      <if test="rylb != null" >
        #{rylb,jdbcType=VARCHAR},
      </if>
      <if test="gjdm != null" >
        #{gjdm,jdbcType=VARCHAR},
      </if>
      <if test="xzzhuid != null" >
        #{xzzhuid,jdbcType=VARCHAR},
      </if>
      <if test="cjry != null" >
        #{cjry,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="rkfl != null" >
        #{rkfl,jdbcType=VARCHAR},
      </if>
      <if test="lhsf != null" >
        #{lhsf,jdbcType=VARCHAR},
      </if>
      <if test="zwsp != null" >
        #{zwsp,jdbcType=VARCHAR},
      </if>
      <if test="rjka != null" >
        #{rjka,jdbcType=VARCHAR},
      </if>
      <if test="rjrq != null" >
        #{rjrq,jdbcType=TIMESTAMP},
      </if>
      <if test="qzcs != null" >
        #{qzcs,jdbcType=VARCHAR},
      </if>
      <if test="jlqk != null" >
        #{jlqk,jdbcType=VARCHAR},
      </if>
      <if test="jlxkhm != null" >
        #{jlxkhm,jdbcType=VARCHAR},
      </if>
      <if test="jlsy != null" >
        #{jlsy,jdbcType=VARCHAR},
      </if>
      <if test="qfjg != null" >
        #{qfjg,jdbcType=VARCHAR},
      </if>
      <if test="gzxxsf != null" >
        #{gzxxsf,jdbcType=VARCHAR},
      </if>
      <if test="rzrq != null" >
        #{rzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="lzrq != null" >
        #{lzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="rzfs != null" >
        #{rzfs,jdbcType=VARCHAR},
      </if>
      <if test="rzsj != null" >
        #{rzsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zslxfs != null" >
        #{zslxfs,jdbcType=VARCHAR},
      </if>
      <if test="jzdxz != null" >
        #{jzdxz,jdbcType=VARCHAR},
      </if>
      <if test="sxryqsgx1 != null" >
        #{sxryqsgx1,jdbcType=VARCHAR},
      </if>
      <if test="sxryzwxm1 != null" >
        #{sxryzwxm1,jdbcType=VARCHAR},
      </if>
      <if test="sxryywxm1 != null" >
        #{sxryywxm1,jdbcType=VARCHAR},
      </if>
      <if test="sxryxb1 != null" >
        #{sxryxb1,jdbcType=VARCHAR},
      </if>
      <if test="sxrycsrq1 != null" >
        #{sxrycsrq1,jdbcType=TIMESTAMP},
      </if>
      <if test="sxrydwmc1 != null" >
        #{sxrydwmc1,jdbcType=VARCHAR},
      </if>
      <if test="sxryqsgx2 != null" >
        #{sxryqsgx2,jdbcType=VARCHAR},
      </if>
      <if test="sxryzwxm2 != null" >
        #{sxryzwxm2,jdbcType=VARCHAR},
      </if>
      <if test="sxryywxm2 != null" >
        #{sxryywxm2,jdbcType=VARCHAR},
      </if>
      <if test="sxryxb2 != null" >
        #{sxryxb2,jdbcType=VARCHAR},
      </if>
      <if test="sxrycsrq2 != null" >
        #{sxrycsrq2,jdbcType=TIMESTAMP},
      </if>
      <if test="sxrydwmc2 != null" >
        #{sxrydwmc2,jdbcType=VARCHAR},
      </if>
      <if test="cjrylxdh != null" >
        #{cjrylxdh,jdbcType=VARCHAR},
      </if>
      <if test="tjflg != null" >
        #{tjflg,jdbcType=VARCHAR},
      </if>
      <if test="xzzhuidgxsj != null" >
        #{xzzhuidgxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="jwryzp != null" >
        #{jwryzp,jdbcType=BLOB},
      </if>
         <if test="macAddress != null" >
         #{macAddress,jdbcType=VARCHAR},
      </if>
      <if test="tfCardNum != null" >
         #{tfCardNum,jdbcType=VARCHAR},
      </if>
      <if test="imeiNum != null" >
         #{imeiNum,jdbcType=VARCHAR},
      </if>
      <if test="simNum != null" >
         #{simNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingmon.project.psam.sy.model.Syjwry" >
    update SY_SYJWRY
    <set >
      <if test="ywm != null" >
        YWM = #{ywm,jdbcType=VARCHAR},
      </if>
      <if test="zwm != null" >
        ZWM = #{zwm,jdbcType=VARCHAR},
      </if>
      <if test="csrq != null" >
        CSRQ = #{csrq,jdbcType=TIMESTAMP},
      </if>
      <if test="gj != null" >
        GJ = #{gj,jdbcType=VARCHAR},
      </if>
      <if test="zy != null" >
        ZY = #{zy,jdbcType=VARCHAR},
      </if>
      <if test="zhgzjgmc != null" >
        ZHGZJGMC = #{zhgzjgmc,jdbcType=VARCHAR},
      </if>
      <if test="zhgzjgdm != null" >
        ZHGZJGDM = #{zhgzjgdm,jdbcType=VARCHAR},
      </if>
      <if test="zjzl != null" >
        ZJZL = #{zjzl,jdbcType=VARCHAR},
      </if>
      <if test="zjhm != null" >
        ZJHM = #{zjhm,jdbcType=VARCHAR},
      </if>
      <if test="qzzl != null" >
        QZZL = #{qzzl,jdbcType=VARCHAR},
      </if>
      <if test="qzbh != null" >
        QZBH = #{qzbh,jdbcType=VARCHAR},
      </if>
      <if test="tlyxq != null" >
        TLYXQ = #{tlyxq,jdbcType=TIMESTAMP},
      </if>
      <if test="jwrylxdh != null" >
        JWRYLXDH = #{jwrylxdh,jdbcType=VARCHAR},
      </if>
      <if test="ssxqdm != null" >
        SSXQDM = #{ssxqdm,jdbcType=VARCHAR},
      </if>
      <if test="ssjlxxqDzbm != null" >
        SSJLXXQ_DZBM = #{ssjlxxqDzbm,jdbcType=VARCHAR},
      </if>
      <if test="dzbm != null" >
        DZBM = #{dzbm,jdbcType=VARCHAR},
      </if>
      <if test="fjbm != null" >
        FJBM = #{fjbm,jdbcType=VARCHAR},
      </if>
      <if test="fjh != null" >
        FJH = #{fjh,jdbcType=VARCHAR},
      </if>
      <if test="xxdz != null" >
        XXDZ = #{xxdz,jdbcType=VARCHAR},
      </if>
      <if test="fwfzxm != null" >
        FWFZXM = #{fwfzxm,jdbcType=VARCHAR},
      </if>
      <if test="fzsfzh != null" >
        FZSFZH = #{fzsfzh,jdbcType=VARCHAR},
      </if>
      <if test="jwrylkrq != null" >
        JWRYLKRQ = #{jwrylkrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sdpcs != null" >
        SDPCS = #{sdpcs,jdbcType=VARCHAR},
      </if>
      <if test="jwzrq != null" >
        JWZRQ = #{jwzrq,jdbcType=VARCHAR},
      </if>
      <if test="zxzt != null" >
        ZXZT = #{zxzt,jdbcType=VARCHAR},
      </if>
      <if test="zxrq != null" >
        ZXRQ = #{zxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="deltag != null" >
        DELTAG = #{deltag,jdbcType=CHAR},
      </if>
      <if test="deltime != null" >
        DELTIME = #{deltime,jdbcType=TIMESTAMP},
      </if>
      <if test="djr != null" >
        DJR = #{djr,jdbcType=VARCHAR},
      </if>
      <if test="djdw != null" >
        DJDW = #{djdw,jdbcType=VARCHAR},
      </if>
      <if test="djrmc != null" >
        DJRMC = #{djrmc,jdbcType=VARCHAR},
      </if>
      <if test="djdwmc != null" >
        DJDWMC = #{djdwmc,jdbcType=VARCHAR},
      </if>
      <if test="djsj != null" >
        DJSJ = #{djsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgr != null" >
        XGR = #{xgr,jdbcType=VARCHAR},
      </if>
      <if test="xgdw != null" >
        XGDW = #{xgdw,jdbcType=VARCHAR},
      </if>
      <if test="xgrmc != null" >
        XGRMC = #{xgrmc,jdbcType=VARCHAR},
      </if>
      <if test="xgdwmc != null" >
        XGDWMC = #{xgdwmc,jdbcType=VARCHAR},
      </if>
      <if test="gxsj != null" >
        GXSJ = #{gxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="movesign != null" >
        MOVESIGN = #{movesign,jdbcType=CHAR},
      </if>
      <if test="sbid != null" >
        SBID = #{sbid,jdbcType=VARCHAR},
      </if>
      <if test="lrjs != null" >
        LRJS = #{lrjs,jdbcType=CHAR},
      </if>
      <if test="lrfs != null" >
        LRFS = #{lrfs,jdbcType=CHAR},
      </if>
      <if test="lrwl != null" >
        LRWL = #{lrwl,jdbcType=CHAR},
      </if>
      <if test="xzzqh != null" >
        XZZQH = #{xzzqh,jdbcType=VARCHAR},
      </if>
      <if test="ywx != null" >
        YWX = #{ywx,jdbcType=VARCHAR},
      </if>
      <if test="xzzssfjdm != null" >
        XZZSSFJDM = #{xzzssfjdm,jdbcType=VARCHAR},
      </if>
      <if test="rylb != null" >
        RYLB = #{rylb,jdbcType=VARCHAR},
      </if>
      <if test="gjdm != null" >
        GJDM = #{gjdm,jdbcType=VARCHAR},
      </if>
      <if test="xzzhuid != null" >
        XZZHUID = #{xzzhuid,jdbcType=VARCHAR},
      </if>
      <if test="cjry != null" >
        CJRY = #{cjry,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="rkfl != null" >
        RKFL = #{rkfl,jdbcType=VARCHAR},
      </if>
      <if test="lhsf != null" >
        LHSF = #{lhsf,jdbcType=VARCHAR},
      </if>
      <if test="zwsp != null" >
        ZWSP = #{zwsp,jdbcType=VARCHAR},
      </if>
      <if test="rjka != null" >
        RJKA = #{rjka,jdbcType=VARCHAR},
      </if>
      <if test="rjrq != null" >
        RJRQ = #{rjrq,jdbcType=TIMESTAMP},
      </if>
      <if test="qzcs != null" >
        QZCS = #{qzcs,jdbcType=VARCHAR},
      </if>
      <if test="jlqk != null" >
        JLQK = #{jlqk,jdbcType=VARCHAR},
      </if>
      <if test="jlxkhm != null" >
        JLXKHM = #{jlxkhm,jdbcType=VARCHAR},
      </if>
      <if test="jlsy != null" >
        JLSY = #{jlsy,jdbcType=VARCHAR},
      </if>
      <if test="qfjg != null" >
        QFJG = #{qfjg,jdbcType=VARCHAR},
      </if>
      <if test="gzxxsf != null" >
        GZXXSF = #{gzxxsf,jdbcType=VARCHAR},
      </if>
      <if test="rzrq != null" >
        RZRQ = #{rzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="lzrq != null" >
        LZRQ = #{lzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="rzfs != null" >
        RZFS = #{rzfs,jdbcType=VARCHAR},
      </if>
      <if test="rzsj != null" >
        RZSJ = #{rzsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zslxfs != null" >
        ZSLXFS = #{zslxfs,jdbcType=VARCHAR},
      </if>
      <if test="jzdxz != null" >
        JZDXZ = #{jzdxz,jdbcType=VARCHAR},
      </if>
      <if test="sxryqsgx1 != null" >
        SXRYQSGX1 = #{sxryqsgx1,jdbcType=VARCHAR},
      </if>
      <if test="sxryzwxm1 != null" >
        SXRYZWXM1 = #{sxryzwxm1,jdbcType=VARCHAR},
      </if>
      <if test="sxryywxm1 != null" >
        SXRYYWXM1 = #{sxryywxm1,jdbcType=VARCHAR},
      </if>
      <if test="sxryxb1 != null" >
        SXRYXB1 = #{sxryxb1,jdbcType=VARCHAR},
      </if>
      <if test="sxrycsrq1 != null" >
        SXRYCSRQ1 = #{sxrycsrq1,jdbcType=TIMESTAMP},
      </if>
      <if test="sxrydwmc1 != null" >
        SXRYDWMC1 = #{sxrydwmc1,jdbcType=VARCHAR},
      </if>
      <if test="sxryqsgx2 != null" >
        SXRYQSGX2 = #{sxryqsgx2,jdbcType=VARCHAR},
      </if>
      <if test="sxryzwxm2 != null" >
        SXRYZWXM2 = #{sxryzwxm2,jdbcType=VARCHAR},
      </if>
      <if test="sxryywxm2 != null" >
        SXRYYWXM2 = #{sxryywxm2,jdbcType=VARCHAR},
      </if>
      <if test="sxryxb2 != null" >
        SXRYXB2 = #{sxryxb2,jdbcType=VARCHAR},
      </if>
      <if test="sxrycsrq2 != null" >
        SXRYCSRQ2 = #{sxrycsrq2,jdbcType=TIMESTAMP},
      </if>
      <if test="sxrydwmc2 != null" >
        SXRYDWMC2 = #{sxrydwmc2,jdbcType=VARCHAR},
      </if>
      <if test="cjrylxdh != null" >
        CJRYLXDH = #{cjrylxdh,jdbcType=VARCHAR},
      </if>
      <if test="tjflg != null" >
        TJFLG = #{tjflg,jdbcType=VARCHAR},
      </if>
      <if test="xzzhuidgxsj != null" >
        XZZHUIDGXSJ = #{xzzhuidgxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="jwryzp != null" >
        JWRYZP = #{jwryzp,jdbcType=BLOB},
      </if>
      
      <if test="macAddress != null" >
        MAC_ADDRESS= #{macAddress,jdbcType=VARCHAR},
      </if>
      <if test="tfCardNum != null" >
        TF_CARD_NUM= #{tfCardNum,jdbcType=VARCHAR},
      </if>
      <if test="imeiNum != null" >
        IMEI_NUM= #{imeiNum,jdbcType=VARCHAR},
      </if>
      <if test="simNum != null" >
        SIM_NUM= #{simNum,jdbcType=VARCHAR},
      </if>
    </set>
    where JWRYID = #{jwryid,jdbcType=VARCHAR}
  </update>
    <select id="loadjwryWorkCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(1) FROM   SY_SYJWRY  T1 WHERE 1=1
	
		<if test="djr != null">
			AND T1.DJR = #{djr,jdbcType=VARCHAR}
		</if>
		<if test="djsj != null">
			AND T1.DJSJ &gt;= #{djsj,jdbcType=TIMESTAMP}
		</if>
	</select>
	<select id="loadjwryWorkDetail" resultType="java.util.Map" parameterType="java.util.Map">
		
		SELECT
		<include refid="Alias_Base_Column_List">
			<property name="alias" value="T1" />
		</include>
		FROM  SY_SYJWRY T1 WHERE 1=1
	    <if test="djr != null">
			AND T1.DJR = #{djr,jdbcType=VARCHAR}
		</if>
		<if test="djsj != null">
			AND T1.DJSJ &gt;= #{djsj,jdbcType=TIMESTAMP}
		</if>
		<if test="sort != null">
			ORDER BY T1.${sort} ${order}
		</if>
	
	</select>

</mapper>