<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingmon.project.psam.sy.mapper.SyRkglLdrkdjbPicMapper" >
  <resultMap id="BaseResultMap" type="com.kingmon.project.psam.sy.model.SyRkglLdrkdjbPic" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="RKLX" property="rklx" jdbcType="CHAR" /> 
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="RKID" property="rkid" jdbcType="VARCHAR" />
    <result column="RKZJBH" property="rkzjbh" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kingmon.project.psam.sy.model.SyRkglLdrkdjbPic" extends="BaseResultMap" >
    <result column="PIC" property="pic" jdbcType="BLOB" />
  </resultMap>
  <sql id="Base_Column_List" >ID, RKLX, CREATE_TIME, CREATE_USER, RKID, RKZJBH</sql>
  
  <sql id="Blob_Column_List" > PIC</sql>
  
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SY_RKGL_LDRKDJB_PIC
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  
  
  <select id="selectPicInfoByZjhm" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select  <include refid="Base_Column_List" />,<include refid="Blob_Column_List" />
    from SY_RKGL_LDRKDJB_PIC  where RKZJBH = #{gmsfhm,jdbcType=VARCHAR}
  </select>
  
  
   <select id="selectNotNullPicInfoByZjhm" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select  <include refid="Base_Column_List" />
    from SY_RKGL_LDRKDJB_PIC  where RKZJBH = #{gmsfhm,jdbcType=VARCHAR} and PIC IS NOT NULL
  </select>
  
  
   <select id="selectRkglPicByzjhm" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT PIC FROM SY_RKGL_LDRKDJB_PIC WHERE RKZJBH =#{zjhm,jdbcType=VARCHAR}
	</select>
 
  <insert id="insertSelective" parameterType="com.kingmon.project.psam.sy.model.SyRkglLdrkdjbPic" >
    insert into SY_RKGL_LDRKDJB_PIC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="rklx != null" >
        RKLX,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="rkid != null" >
        RKID,
      </if>
      <if test="rkzjbh != null" >
        RKZJBH,
      </if>
      <if test="pic != null" >
        PIC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rklx != null" >
        #{rklx,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="rkid != null" >
        #{rkid,jdbcType=VARCHAR},
      </if>
      <if test="rkzjbh != null" >
        #{rkzjbh,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingmon.project.psam.sy.model.SyRkglLdrkdjbPic" >
    update SY_RKGL_LDRKDJB_PIC
    <set >
      <if test="rklx != null" >
        RKLX = #{rklx,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="rkid != null" >
        RKID = #{rkid,jdbcType=VARCHAR},
      </if>
      <if test="rkzjbh != null" >
        RKZJBH = #{rkzjbh,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        PIC = #{pic,jdbcType=BLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>