.autocomplete-wrapper {
	margin: 44px auto 44px;
	max-width: 600px;
	z-index: 100;
}

.autocomplete-wrapper label {
	display: block;
	margin-bottom: .75em;
	color: #3f4e5e;
	font-size: 1.25em;
	z-index: 100;
}

.autocomplete-wrapper .text-field {
	padding: 0 15px;
	width: 500px;
	height: 40px;
	border: 1px solid #CBD3DD;
	font-size: 1.125em;
	z-index: 100;
	margin:0 auto;
}
.text-field {
	padding: 0 15px;
	width: 500px;
	height: 27px;
	border: 1px solid #CBD3DD;
	font-size: 1.125em;
	z-index: 100;
	margin:0 auto;
}
.autocomplete-wrapper ::-webkit-input-placeholder {
	color: #CBD3DD;
	font-style: italic;
	font-size: 18px;
}

.autocomplete-wrapper :-moz-placeholder {
	color: #CBD3DD;
	font-style: italic;
	font-size: 18px;
}

.autocomplete-wrapper ::-moz-placeholder {
	color: #CBD3DD;
	font-style: italic;
	font-size: 18px;
}

.autocomplete-wrapper :-ms-input-placeholder {
	color: #CBD3DD;
	font-style: italic;
	font-size: 18px;
}

.autocomplete-suggestions {
	overflow: auto;
	border: 1px solid #CBD3DD;
	background: #FFF;
}

.autocomplete-suggestion {
	overflow: hidden;
	padding: 5px 15px;
	white-space: nowrap;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	color: #029cca;
	font-weight: normal;
}