<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingmon.project.psam.jzw.mapper.JzwlcMapper" >
  <resultMap id="BaseResultMap" type="com.kingmon.project.psam.jzw.model.Jzwlc" >
    <id column="JZWLCID" property="jzwlcid" jdbcType="VARCHAR" />
    <result column="JZWJGID" property="jzwjgid" jdbcType="VARCHAR" />
    <result column="JZWDYID" property="jzwdyid" jdbcType="VARCHAR" />
    <result column="LCXH" property="lcxh" jdbcType="VARCHAR" />
    <result column="LCMC" property="lcmc" jdbcType="VARCHAR" />
    <result column="ZHGXRQ" property="zhgxrq" jdbcType="TIMESTAMP" />
    <result column="MOVESIGN" property="movesign" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    JZWLCID, JZWJGID, JZWDYID, LCXH, LCMC, ZHGXRQ, MOVESIGN
  </sql>
   <sql id="Alias_Base_Column_List" >
    ${alias}.JZWLCID, ${alias}.JZWJGID, ${alias}.JZWDYID, ${alias}.LCXH, 
    ${alias}.LCMC, ${alias}.ZHGXRQ, ${alias}.MOVESIGN
  </sql>
    
 <!-- #######################page query end ###########################################-->	
	 <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select  <include refid="Base_Column_List" />
    from DZ_JZWLC  where JZWLCID = #{jzwlcid,jdbcType=VARCHAR}
  </select>
  
   <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DZ_JZWLC
    where JZWLCID = #{jzwlcid,jdbcType=VARCHAR}
  </delete>
  <!-- #######################insertSelective########################################### --> 
    <insert id="insertSelective" parameterType="com.kingmon.project.psam.jzw.model.Jzwlc" >
    insert into DZ_JZWLC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jzwlcid != null" >jzwlcid, </if>
      <if test="jzwjgid != null" > jzwjgid,</if>
      <if test="jzwdyid != null" >jzwdyid,</if>
      <if test="lcxh != null" > lcxh,</if>
      <if test="lcmc != null" > lcmc,</if>
      <if test="zhgxrq != null" >zhgxrq,</if>
      <if test="movesign != null" > movesign, </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jzwlcid != null" > #{jzwlcid,jdbcType=VARCHAR},  </if>
      <if test="jzwjgid != null" > #{jzwjgid,jdbcType=VARCHAR}, </if>
      <if test="jzwdyid != null" > #{jzwdyid,jdbcType=VARCHAR}, </if>
      <if test="lcxh != null" > #{lcxh,jdbcType=VARCHAR}, </if>
      <if test="lcmc != null" > #{lcmc,jdbcType=VARCHAR}, </if>
      <if test="zhgxrq != null" > #{zhgxrq,jdbcType=TIMESTAMP}, </if>
      <if test="movesign != null" > #{movesign,jdbcType=CHAR},</if>
    </trim>
  </insert>
  
   <insert id="batchInsertJzwlc" parameterType="java.util.List">
		insert into DZ_JZWLC ( JZWLCID, JZWJGID, JZWDYID, LCXH, LCMC, ZHGXRQ)
		<foreach collection="list" item="item" index="index" open="(" separator="union" close=")">
	select
		 #{item.jzwlcid,jdbcType=VARCHAR}, 
	     #{item.jzwjgid,jdbcType=VARCHAR},
	     #{item.jzwdyid,jdbcType=VARCHAR},
	     #{item.lcxh,jdbcType=VARCHAR},
	     #{item.lcmc,jdbcType=VARCHAR},
	     #{item.zhgxrq,jdbcType=TIMESTAMP}
			from dual
		</foreach>
	</insert>
	
	
<update id="updateByPrimaryKeySelective" parameterType="com.kingmon.project.psam.jzw.model.Jzwlc" >
    update DZ_JZWLC
    <set >
      <if test="jzwjgid != null" >
        JZWJGID = #{jzwjgid,jdbcType=VARCHAR},
      </if>
      <if test="jzwdyid != null" >
        JZWDYID = #{jzwdyid,jdbcType=VARCHAR},
      </if>
      <if test="lcxh != null" >
        LCXH = #{lcxh,jdbcType=VARCHAR},
      </if>
      <if test="lcmc != null" >
        LCMC = #{lcmc,jdbcType=VARCHAR},
      </if>
      <if test="zhgxrq != null" >
        ZHGXRQ = #{zhgxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="movesign != null" >
        MOVESIGN = #{movesign,jdbcType=CHAR},
      </if>
    </set>
    where JZWLCID = #{jzwlcid,jdbcType=VARCHAR}
  </update>
  
  
<!--  <select id="selectDistinctLcxhByJzwJgid" resultType="com.kingmon.project.psam.jzw.model.Jzwlc" parameterType="java.lang.String" >
  	  select DISTINCT(LCXH) from DZ_JZWLC  where JZWJGID = #{jzwjgId,jdbcType=VARCHAR} 
  </select>  -->
  
    <select id="selectDistinctSortedLcxhByJzwJgid" resultType="com.kingmon.project.psam.jzw.model.Jzwlc" parameterType="java.lang.String" >
  	  select DISTINCT(LCXH) from DZ_JZWLC  where JZWJGID = #{jzwjgId,jdbcType=VARCHAR} order by to_number(LCXH) DESC
  </select>
  
<!--    <select id="selectJzwlcByJzwJgid" resultType="com.kingmon.project.psam.jzw.model.Jzwlc" parameterType="java.lang.String" >
  	  select JZWLCID, JZWJGID, JZWDYID, LCXH, LCMC from DZ_JZWLC  where JZWJGID = #{jzwjgId,jdbcType=VARCHAR} 
  </select> -->
  
  <select id="selectSortedJzwlcByJzwJgid" resultType="com.kingmon.project.psam.jzw.model.Jzwlc" parameterType="java.lang.String" >
  	  select JZWLCID, JZWJGID, JZWDYID, LCXH, LCMC from DZ_JZWLC  
  	  where JZWJGID = #{jzwjgId,jdbcType=VARCHAR} 
  	  order by JZWDYID,to_number(LCXH)
  </select>
  
  <select id="selectSortedJzwlcByJzwdyid" resultType="com.kingmon.project.psam.jzw.model.Jzwlc" parameterType="java.lang.String" >
  	  select JZWLCID, JZWJGID, JZWDYID, LCXH, LCMC from DZ_JZWLC  where JZWDYID = #{jzwdyId,jdbcType=VARCHAR} order by to_number(LCXH)
  </select>
  
 <!--   <select id="selectJzwlcByJzwDyid" resultType="com.kingmon.project.psam.jzw.model.Jzwlc" parameterType="java.lang.String" >
  	  select JZWLCID, JZWJGID, JZWDYID, LCXH, LCMC from DZ_JZWLC  where JZWDYID = #{jzwdyId,jdbcType=VARCHAR} 
  </select> -->
  
    <select id="selectJzwlcCountByJzwDyid" resultType="java.lang.Long" parameterType="java.lang.String" >
  	  select COUNT(1) from DZ_JZWLC  where JZWDYID = #{jzwdyId,jdbcType=VARCHAR} 
  </select>
  
    <select id="selectMaxJzwlcCountGroupByJzwDyid" resultType="java.lang.Long" parameterType="java.lang.String" >
  	 select max(xxx) from (select count(1) as xxx from dz_jzwlc lc where lc.jzwjgid=#{jzwjgId,jdbcType=VARCHAR} group by lc.jzwdyid)  
  </select>
    <select id="selectMaxJzwlcDSCountGroupByJzwDyid" resultType="java.lang.Long" parameterType="java.lang.String" >
  	 select max(xxx) from (select count(1) as xxx from dz_jzwlc lc where lc.jzwjgid=#{jzwjgId,jdbcType=VARCHAR} and to_number(LCXH)&gt;0 group by lc.jzwdyid)  
  </select>
    <select id="selectMaxJzwlcDXCountGroupByJzwDyid" resultType="java.lang.Long" parameterType="java.lang.String" >
  	 select max(xxx) from (select count(1) as xxx from dz_jzwlc lc where lc.jzwjgid=#{jzwjgId,jdbcType=VARCHAR} and to_number(LCXH) &lt;0 group by lc.jzwdyid)  
  </select>
  
    	<!--通用分页 -->
	<sql id="Paging_Start">
		SELECT * FROM ( SELECT T_.*, rownum rn_ FROM (
	</sql>
	<sql id="Paging_end">
		) T_ WHERE rownum &lt;= ${pageend} ) WHERE rn_ &gt; ${pagestart}
	</sql>
   <select id="jzwlcListForWebService" resultType="java.util.Map" parameterType="java.util.Map">
		<include refid="Paging_Start"/>
		select c.JZWLCID as "jzwlcid",c.JZWJGID as "jzwid",c.JZWDYID as "jzwdyid"
				 ,c.LCXH as "lcxh",c.LCMC as "lcmc"
		from DZ_JZWLC c WHERE 1=1
		<if test="JZWDYID != null">
			AND c.JZWDYID = #{JZWDYID}
		</if>
		<if test="JZWLCID != null">
			AND c.JZWLCID = #{JZWLCID}
		</if>
		<if test="JZWJGID != null">
			AND c.JZWJGID = #{JZWJGID}
		</if>
		<include refid="Paging_end"/>
  </select>
  <select id="countForWebService" resultType="java.lang.Long" parameterType="map">
		select count(1) from DZ_JZWLC c WHERE 1=1
		<if test="JZWDYID != null">
			AND c.JZWDYID = #{JZWDYID}
		</if>
		<if test="JZWLCID != null">
			AND c.JZWLCID = #{JZWLCID}
		</if>
		<if test="JZWJGID != null">
			AND c.JZWJGID = #{JZWJGID}
		</if>
	</select>
</mapper>