<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingmon.project.psam.userAppInfo.mapper.UserAppInfoMapper" >
  <resultMap id="BaseResultMap" type="com.kingmon.project.psam.userAppInfo.model.UserAppInfo" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USERID" property="userid" jdbcType="VARCHAR" />
    <result column="VERSONINFO" property="versoninfo" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.kingmon.project.psam.userAppInfo.model.UserAppInfo" >
    insert into DZ_USERAPPINFO (ID, USERID, VERSONINFO, 
      UPDATETIME)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{versoninfo,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kingmon.project.psam.userAppInfo.model.UserAppInfo" >
    insert into DZ_USERAPPINFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="versoninfo != null" >
        VERSONINFO,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="versoninfo != null" >
        #{versoninfo,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>